---
layout: archive
title: "People"
permalink: /people/
author_profile: true
---

{% assign headerPrinted = false %}
{% for post in site.people reversed %}
{% if post.categories contains "past" %}
{% unless headerPrinted %}
<h1>Past</h1>
{% assign headerPrinted = true %}
{% endunless %}
{% include archive-single.html %}
{% elsif post.categories contains "present" %}
{% unless headerPrinted %}
<h1>Present</h1>
{% assign headerPrinted = true %}
{% endunless %}
{% include archive-single.html %}
{% endif %}
{% endfor %}




<h1>Collaborators</h1>


