---
layout: archive
title: "People"
permalink: /people/
author_profile: true
---

{% assign headerPrinted = false %}
{% for post in site.people reversed %}
  {% if post.categories contains "past" %}
    {% unless headerPrinted %}
    <h1>Past lab members</h1>
    {% assign headerPrinted = true %}
    {% endunless %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}



<h1>Collaborators</h1>

<a href="https://www.pirbright.ac.uk/users/dr-tim-harvey-samuel"> <b>Dr Tim Harvey-Samuel</b> </a>
 <br>
<a href="https://www.imperial.ac.uk/people/a.meccariello"> <b>Dr Angela Meccariello</b> </a>
 <br>
<a href="https://research-portal.uea.ac.uk/en/persons/tracey-chapman"> <b>Professor Tracey Chapman</b> </a>
 <br>
<a href="https://pure.york.ac.uk/portal/en/persons/luke-stephen-alphey"> <b>Professor Luke Alphey</b> </a>
 <br>
<a href="https://www.jic.ac.uk/people/matt-hutchings/"> <b>Professor Matt Hutchings</b> </a>
 <br>

         
         
         
