---
layout: archive
title: "People"
permalink: /people/
author_profile: true
---

{% assign headerPrinted = false %}
{% for post in site.people reversed %}
  {% if post.categories contains "present" and headerPrinted == false %}
    <h1>Present</h1>
    {% assign headerPrinted = true %}
  {% elsif post.categories contains "past" and headerPrinted == false %}
    <h1>Past</h1>
    {% assign headerPrinted = true %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}



<h1>Collaborators</h1>


